<div class="container">
  <div class="row mt-2 justify-content-center">
    <h5 class="text-center">Login Form</h5>
    <hr>
    <div class="col-md-6">
      <div class="card w-100">
        <div class="card-body">
          <form method="post" autocomplete="off">
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPassword3">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>